In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [0]:
database_a=database_b= pd.read_csv(r"C:\Users\kamra\Downloads\Songs_LA.csv")
database_a.drop("Unnamed: 1", axis=1, inplace=True)
database_a.columns

Index(['songs', 'happy', 'sad', 'romance', 'fast'], dtype='object')

In [0]:
database_a.head()

                 songs  happy  sad  romance  fast
0             Memories      3    8        1     1
1               Closer      7    0        9     3
2              Rap God      6    2        0    10
3        Steal My Girl      8    1        8     6
4  Love Me Like You Do      7    1        8     7

In [0]:
df = database_a.drop("songs", axis=1)
database_a.head()

                 songs  happy  sad  romance  fast
0             Memories      3    8        1     1
1               Closer      7    0        9     3
2              Rap God      6    2        0    10
3        Steal My Girl      8    1        8     6
4  Love Me Like You Do      7    1        8     7

In [0]:
df["Mood"] = df.idxmax(axis=1)

In [0]:
database_a["Mood"] = database_b["Mood"] = df["Mood"]

In [0]:
database_b.head()

                 songs  happy  sad  romance  fast     Mood
0             Memories      3    8        1     1      sad
1               Closer      7    0        9     3  romance
2              Rap God      6    2        0    10     fast
3        Steal My Girl      8    1        8     6    happy
4  Love Me Like You Do      7    1        8     7  romance

In [0]:
print( 'Select your song from this list:  ') 
print ( database_a['songs'])

Select your song from this list:
0                  Memories
1                    Closer
2                   Rap God
3             Steal My Girl
4       Love Me Like You Do
5                        2U
6             Lose Yourself
7             Summer of ’69
8                  Hey Jude
9                 Paper Cut
10               The Nights
11               Photograph
12       You Belong With Me
13                Taki Taki
14         What Do You Mean
15             Shape Of You
16     Love the way you lie
17            Cheap Thrills
18        Thinking Out Loud
19                Legendary
20              Electricity
21         Careless Whisper
22               Astronomia
23      Sweet Child O’ Mine
24                     Baby
25       Sweet Home Alabama
26               Not Afraid
27                      Low
28     Hymm For The Weekend
29                   Zombie
30            All The Stars
31            Hotline Bling
32                All Of Me
33                 Star Boy
34                     Zedd
35                 Believer
36                On My Way
37                  Perfect
38                    Faded
39                  Lean On
40         I Like Me Better
41        Running After You
42         I Believe In You
43            You are Loved
44                   Havana
45                 Payphone
46           Hips Don't Lie
47     Can We Kiss Forever?
48                   Dancin
49                  Cradles
50             Dance Monkey
51                 La La La
52            Elastic Heart
53                    Faith
54                 Physical
55    We Don't Talk Anymore
56                    Youth
57                  Shallow
58        Someone You Loved
59           Girls Like You
Name: songs, dtype: object

In [0]:
song1 = input("Enter song name : " )
print ('Currently playing: ' +song1)

Enter song name : Love the way you lie
Currently playing: Love the way you lie

In [0]:
for songnum in range (60):
    if song1 == database_a['songs'][songnum]:
        break
        
print (songnum)

16

In [0]:
def nearestneighbour(df, songnum):
    
  list = df["Song Name"].values.tolist()
  list.remove(current_song)
  upcoming = []

  for j in range(3):

      nextsong = ''
      min = 10**8

      for next in list:
          dist = 0

          for dim in space:
              dist += (df.loc[df["Song Name"] == next, dim].values[0] - df.loc[df["Song Name"] == current_song, dim].values[0]) ** 2

          dist = np.sqrt(dist)
          if dist < min:
              min = dist
              nextsong = next

      list.remove(nextsong)
      upcoming.append(nextsong)

  return upcoming

print ('Next song :'  + nearestneighbour(database_a, songnum))

Next song :Cradles